#test-harness, #simulator {
    border: 1px solid #777;
    padding: 9px;
}

#root .error {
    margin-top: 150px;
    text-align: center;
}

#status {
    margin-top: 13px;
}

h3 {
    margin-top: 3px;
}

section {
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 9px;
    margin-bottom: 9px;
}

form > label,input,select {
    display: block;
}

select {
    margin-bottom: 13px
}

input[type="submit"] {
    width: 150px;
    display: inline;
    margin: 7px;
}

input:not([type="submit"]) {
    width: 550px;
    margin-bottom: 13px
}

input.invalid {
    border: 1px solid red;
}

dl {
    width: 150px;
}

dt {
    width: 30px;
    font-size: 150%;
}

dd {
    width: 100%
}